/* Universial styles */

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


main {
    margin: auto;
    text-align: center; 
}

h2 {
    font-family: 'Amatic SC', cursive; 
    font-size: 50px;
    font-weight: bold;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: transparent;
    padding: 10px;
    margin: auto;  
    position: sticky;
    top: 0;
    z-index: 2;
    transition: ease-in-out .5s;
} 

header.scroll {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #F2AC29;
    padding: 10px;
    margin: auto;  
    position: sticky;
    top: 0;
    z-index: 2;
    transition: ease-in-out .5s;
}

#logo {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
#logo img {
    height: 70px;
    margin-right: 10px;
}

h1 { 
    font-family: 'Amatic SC', cursive; 
    font-size: 60px;
    align-self: center;
    color: #ffffff;
    transition: ease-in-out .5s;
}

h1.scroll { 
    font-family: 'Amatic SC', cursive; 
    font-size: 60px;
    align-self: center;
    color: #000000;
    transition: ease-in-out .5s;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 20px;
    list-style: none;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    transition: ease-in-out .5s;
}

.menu-item.scroll {
    color: #000000;
    text-decoration: none;
    transition: ease-in-out;
}

.menu-item:hover{
    color:#F25270;
}

.menu-item:hover.scroll{
    color:#ffffff;
}

.header-button {
    padding: 15px;
    color: #ffffff;
    background-color: transparent;
    border: solid 2px #ffffff;
    font-size: 18px;
    transition: ease-in-out .5s;
}

.header-button.scroll {
    padding: 15px;
    color: #000000;
    background-color: transparent;
    border: solid 2px #000000;
    font-size: 18px;
    transition: ease-in-out .5s;
}

.header-button:hover {
    color: #F25270;
    border: solid 2px #F25270;
    transition: ease-in-out .5s;
}

.header-button:hover.scroll{
    color:#ffffff;
    border: solid 2px #ffffff;
    transition: ease-in-out .5s;
}

.header-button a {
    color: #ffffff;
    text-decoration: none;
    transition: ease-in-out .5s;
}

.header-button a.scroll {
    color: #000000;
    text-decoration: none;
    transition: ease-in-out .5s;
}


.header-button a:hover {
    color: #F25270;
    transition: ease-in-out .5s;
}

.header-button a:hover.scroll {
    color: #ffffff;
    transition: ease-in-out .5s;
}

 
/* Mission */

#mission {
    background-image: url("./images/abundance-1868573_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -180px 0 auto;

}

.statement {
    background-color: #BF95BF;
    padding: 20px;
    opacity: 0.9;
    text-align: center;
}

.statement h2 {
    font-family: 'Amatic SC', cursive; 
    font-weight: bold;
    font-size: 40px;
}

/* Highlights section */

#highlights {
    margin: auto;   
    padding: 20px 0;
    
}

.products-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.product img { 
    height: 300px;
    width: 360px;
}

.member figcaption, .product figcaption {
    margin: 10px;
}

.shop-button {
    padding: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #F25270;
    border: #F25270;
    margin: 25px;
    width: 360px;
}

.shop-button:hover {
    background-color: #BF95BF;
    transition: ease-in-out .5s;
}


/* Team section */

#team {
    background-color:  #BF95BF;
    margin: auto;
    padding: 20px 0;
}

.team-container {
    display: flex;
    justify-content: center;
}

.member img {
    width: 200px;  
}

footer {
    background-color:#F25270;
    padding: 2px 25px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    width: 210px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #BF95BF;
}

/* Responsive layout max width: 768px */

@media only screen and (max-width: 768px) { 

    #logo {
        align-items: center;
    } 

    #logo img {
        height: 35px;
    }

    h1 {
        font-size: 30px;
    }

    .menu-item { 
        margin: 0; 
    }

    .header-button {
        padding: 10px;
    }


    #mission {
        justify-content: baseline;
        align-items: flex-end;
    }

    .statement {
        width: 100%;
    }

    #highlights {
        background-color: #ffffff;
    }

    .products-container, .team-container, .footer-container {
        flex-wrap: wrap;
       
    }
    
}

@media only screen and (max-width: 480px) { 


    .menu-item { 
        display: none; 
    }

    .header-button {
        display: none;
    }

    .statement {
        width: 100%;
    }

    .products-container, .team-container, .footer-container {
        flex-wrap: wrap;
    }
    
    .product img { 
        width: 300px;
        height: 200px;
    }

    .shop-button {
        width: 300px;
    }
}

@media only screen and (max-width: 381px) { 

    #logo {
        margin: 0;
    }

    #logo img {
        height: 35px;
    }

    h1 {
        font-size: 20px;
    }
}